/* FeaturesSection.module.css */
.section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.5rem 1rem;
  background: #fff;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.title {
  color: #0e1b16;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 1.2;
}
.subtitle {
  color: #0e1b16;
  font-size: 1rem;
  font-weight: normal;
  max-width: 32rem;
  text-align: center;
}
.button {
  border-radius: 0.5rem;
  height: 2.5rem;
  padding: 0 1rem;
  background: #17d38b;
  color: #0e1b16;
  font-size: 0.875rem;
  font-weight: bold;
  width: fit-content;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #d0e7de;
  background: #f8fcfa;
  padding: 1rem;
}
.icon {
  color: #0e1b16;
  margin-bottom: 0.5rem;
}
.cardTitle {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}
.cardText {
  color: #4e977b;
  font-size: 0.875rem;
}
